
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeForm</title>
</head>
<body>
    <div> 
        <form action="DisplayEmployee" method="post">
            <pre>
                <b>EmpID        :</b><input type="text" name="txtEmpId" value="" /><br />
                <b>First Name   :</b><input type="text" name="txtFirstName" value="" /><br />
                <b>Last Name    :</b><input type="text" name="txtLastName" value="" /><br />
                <b>Salary       :</b><input type="number" name="txtSalary" value="" /><br />
                <input type="submit" name="btnSubmit" value="Submit" />
            </pre>
        </form>
    </div>
</body>
</html>
