@model MVC_Demo.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>STDisplayEmployee</title>
</head>
<body>
    <div> 
        <b>EmpID        :</b>@Model.EmpID<br />
        <b>First Name   :</b>@Model.FirstName<br />
        <b>Last Name    :</b>@Model.LastName<br />
        <b>Salary       :</b>@Model.Salary<br />
    </div>
</body>
</html>
